<!DOCTYPE html>
<html> 
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";

    $scope.joxPoint=0;

    $scope.increase = function() {
		$scope.joxPoint = $scope.joxPoint+1;
    }
});
</script>

<title>Telavox Dice Game Statistics</title>

<div ng-app="myApp" ng-controller="myCtrl">

	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br>
	<br>
	Full Name: {{firstName + " " + lastName}}
	<br>

	<table>
		<tr>
			<td>
				
			</td>
			<td>
			<button data-ng-click="increase()">+</button>
				Jesper
			</td>
			<td>
				John
			</td>
			<td>
				Paulina
			</td>
			<td>
				Erik
			</td>
			<td>
				Thomas
			</td>
			<td>
				Emma
			</td>
		</tr>
		<tr>
			<td>
				Games won
			</td>
			<td>
				{{joxPoint}}
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
		</tr>
		<tr>
			<td>
				Games played
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
			<td>
				0
			</td>
		</tr>
	</table>
</div>

<body>
</body> 
</html>
